body{
    background-color: rgb(0, 204, 255);
    border-style: double;
    width: 740px;
    border-radius: 20px;
}
h1{ 
    border-style: solid;
    text-align: center;
    font-size: 50px;
}
h2{
    text-align: right;
}